.note {
     /* background: #fff; */
     border-radius: 7px;
     box-shadow: 0 2px 5px #ccc;
     /* padding: 1px; */
     padding: 10px 5px 2px 5px;
     /* width: 240px; */
     /* margin: 16px; */
     color: var(--componentTxtColor);
     background: var(--componentBgColor);
     box-shadow: var(--componentShadow);
     transition: var(--animationColor);
}

.note h1 {
     font-size: 1.1em;
     margin-bottom: 6px;
}

.note p {
     font-size: 1.1em;
     margin-bottom: 10px;
     white-space: pre-wrap;
     word-wrap: break-word;
}

.note button {
     position: relative;
     float: right;
     margin-right: 0px;
     color: #f5ba13;
     background-color: var(--primaryColor);
     border: none;
     width: 20px;
     height: 20px;
     cursor: pointer;
     outline: none;
     transition: var(--animationColor);

}

.note__date {
     font-size: 0.8rem;
     padding-bottom: 5px;
}