.note {
     /* background: #fff; */
     border-radius: 7px;
     box-shadow: 0 2px 5px #ccc;
     padding: 10px 5px 2px 5px;
     color: var(--componentTxtColor);
     background: var(--componentBgColor);
     box-shadow: var(--componentShadow);
     transition: var(--animationColor);
     cursor: pointer;
     min-width: 10rem;
     min-height: 5rem;
}

.note h1 {
     font-size: 1.1em;
     margin-bottom: 6px;
}

.note p {
     font-size: 1.1em;
     margin-bottom: 10px;
     white-space: pre-wrap;
     word-wrap: break-word;
}

.delete__button {
     color: #f5ba13;
     background-color: var(--primaryColor);
     border: none;
     width: 20px;
     height: 20px;
     cursor: pointer;
     outline: none;
     transition: var(--animationColor);

}

.note button {
     /* override .delete__button    */
     position: relative;
     float: right;
     margin-right: 0px;
}

.note__date {
     font-size: 0.8rem;
     padding-bottom: 5px;
}

.popup_close_btn {
     font-size: 1rem;
     white-space: nowrap;
     word-spacing: 0px;
     position: absolute;
     right: 1rem;

     cursor: pointer;
     color: var(--background);
     height: 36px;
     width: 86.1167px;
     border: 0px none rgb(218, 220, 224);

     background-color: inherit;

}

.popup_close_btn:hover {
     background-color: rgba(154, 160, 166, 0.04);
}