.Title,
.Textarea {
     display: block;
     width: 100%;
     border: none;
     padding: 1rem;
     outline: none;
     font-size: 1rem;
     font-family: inherit;
     resize: none;
     color: var(--primaryColor);
     background-color: var(--componentBgColor);
     color: var(--componentTxtColor);
     transition: var(--animationColor);

     background: var(--componentBgColor);


}

.Title {
     font-size: 1.3rem;
     padding-bottom: 0rem;


}


.Textarea {
     min-height: 5rem;
     max-height: 20rem;
     resize: "none"
}