.Auth {
     margin: 20px auto;
     width: 80%;
     text-align: center;
     box-shadow: 0 2px 3px #ccc;
     border: 1px solid #eee;
     padding: 10px;
     box-sizing: border-box;
     background-color: #FFFBCE;

}

@media (min-width: 600px) {
     .Auth {
          width: 500px;
     }
}

.pageSwitcher {
     display: flex;
     justify-content: center;
     margin-bottom: 5%;

}

.pageSwitcherItem {
     background-color: rgba(253, 181, 28, 0.2);
     color: black;
     padding: 10px 25px;
     cursor: pointer;
     font-size: 0.9em;
     border: none;
     outline: none;
     display: inline-block;
     text-decoration: none;
     font-weight: bold;
}

.pageSwitcherItem-active {
     background-color: rgba(255, 230, 4, 0.1);
     color: rgba(255, 230, 4, 0.1);
}



.pageSwitcherItem:first-child {
     border-top-left-radius: 25px;
     border-bottom-left-radius: 25px;
}

.pageSwitcherItem:last-child {
     border-top-right-radius: 25px;
     border-bottom-right-radius: 25px;
}